// Text Colors
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$fire-engine-red: rgb(198, 30, 30); //#c61e1e
$white-smoke: rgb(248, 248, 248); //f8f8f8
$davys-grey: rgb(89, 89, 89); //#595959
$platinum: rgb(222, 224, 234); // #dee0ea
$isabelline: rgb(237, 237, 237); //#ededed
$medium-slate-blue: rgb(115, 103, 240); //#7367f0
$cadet: rgb(94, 88, 115); //#5e5873
$old-lavender: rgb(110, 107, 123); //#7367f0
$old-lavender7b: rgb(110, 107, 123); //#6E6B7B
$carmine-pink: rgb(234, 84, 85); //#ea5455
$gainsboro: rgb(216, 214, 222); //#d8d6de
$facebook: rgb(59, 89, 152); //#3B5998
$twitter: rgb(0, 172, 238); //#00ACEE
$github: rgb(33, 31, 31);//#211F1F
$mail: rgb(219, 50, 54); //#DB3236
$platinum: rgb(233, 234, 236); //#E9EAEC
// Overlays

// Linears
